:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #111c22;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-color: #0da6f2;
    --hover: color-mix(in srgb, var(--main-color), white 20%);
    --darcker: color-mix(in srgb, var(--main-color), black 20%);
    --darcker1: color-mix(in srgb, var(--main-color), black 50%);
    --bg-color: #283339;
    --text-color: white;
}

@keyframes fromleft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fromtop {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'TurkFont', sans-serif;
}



html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


nav {
    width: 100%;
    z-index: 1000;
    top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    /* position: relative; */
    overflow: hidden;

    & ul {
        margin-left: 7.5%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: var(--text-color);
        /* background-color: black; */

        & li {
            flex: 1;
            width: 100%;
            color: var(--text-color);
        }
    }
}

a {
    color: var(--text-color);
}



.navtitle {
    font-family: TurkLogo;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: var(--hover) 0px 0px 1px, var(--hover) 0px 0px 5px, var(--hover) 0px 0px 15px;
    transform: translateY(50px);
    animation: fromtop 0.5s ease-out 0.5s forwards;
}

.container-fluid a {
    transform: translateX(-50px);
    animation: fromleft 0.5s ease-out forwards;
}

.bg-body-tertiary {
    background-color: var(--bg-color) !important;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navbar-toggler {
    border: none;

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    color: var(--text-color);

    &::after {
        content: "";
        position: absolute;
        /* right: 0; */
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        color: var(--text-color);
        background: var(--hover);
        transition: width 200ms ease-out;
    }

    &:focus {
        color: var(--text-color);
    }

    &:hover::after {
        width: 100%;
    }
}

.navbtn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: -12.5%;
}


footer {
    text-align: center;
    margin: 10px;
    position: relative;
    bottom: 0;
    align-content: center;
    animation: fadeIn 1.5s ease-out forwards;
    font-size: clamp(16px, calc(1rem + 0.5vw), 24px);
}

.bg-login {
    background-image: linear-gradient(to bottom, var(--bg-color), var(--darcker));
}

.btn {
    width: 80%;
    max-width: 415px;
    background-color: var(--main-color);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-radius: 15px;

    &:hover {
        background-color: var(--hover);
    }
}

.outline {
    border: 1px var(--main-color) solid;
    background-color: transparent;
}

.nav-link .active {
    color: var(--text-color);
}


@media (max-width: 768px) {}